.suiteTableHead {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #DBEAF4;
}
.suiteTableHead__title {
    display: flex;
    flex: 0.9;
    cursor: pointer;
}
.suiteTableHead__requirement {
    display: flex;
    flex: 0.3;
}
.suiteTableHead__assignee {
    display: flex;
    flex: 0.3;
}
.suiteTableHead__run {
    display: flex;
    flex: 0.2;
}
.suiteTableHead__status {
    display: flex;
    flex: 0.2;
}