.test-case-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.test-case-item__title {
    display: flex;
    flex: 0.9;
}
.test-case-item__requirement {
    display: flex;
    flex: 0.3;
}
.test-case-item__assignee {
    display: flex;
    flex: 0.3;
}
.test-case-item__run-no {
    display: flex;
    flex: 0.2;
    color: gray;
}
.test-case-item__run-green{
    display: flex;
    flex: 0.2;
    color: lightgreen;
}
.test-case-item__run-red{
    display: flex;
    flex: 0.2;
    color: red;
}
.test-case-item__status {
    display: flex;
    flex: 0.2;
}
