.table-head {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #DBEAF4;
}
.table-head__title {
    display: flex;
    flex: 0.9;
    cursor: pointer;
}
.table-head__requirement {
    display: flex;
    flex: 0.3;
    cursor: pointer;
}
.table-head__assignee {
    display: flex;
    flex: 0.3;
    cursor: pointer;
}
.table-head__run {
    display: flex;
    flex: 0.2;
    cursor: pointer;
}
.table-head__status {
    display: flex;
    flex: 0.2;
    cursor: pointer;
}