.case {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.case__title {
    display: flex;
    flex: 0.9;
}
.case__requirement {
    display: flex;
    flex: 0.3;
}
.case__assignee {
    display: flex;
    flex: 0.3;
}
.case__run-no {
    display: flex;
    flex: 0.2;
    color: gray;
}
.case__run-green{
    display: flex;
    flex: 0.2;
    color: lightgreen;
}
.case__run-red{
    display: flex;
    flex: 0.2;
    color: red;
}
.case__status {
    display: flex;
    flex: 0.2;
}